*{
    transition: 0.1s ease-in-out;
    margin: 0;
    padding: 0;
}

:root {
	--bg-dark: #35363A;
	--bg-dark2: #2f2f33;
	--bg-dark3: #202124;
	--green: #70b791;
	--magenta: #db8e9d;
	--yellow: #c9c76b;
	--cyan: #78b3c5;
	--font: 'xos4 Terminus', sans-serif;
}

body{
	font-family: var(--font);
	background-color: var(--bg-dark);
}
#box{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container {
	height: 11em;
	width: 6.5em;
	padding: 3em;
	margin: 1.5%;
	border-radius: 15px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
	background-color: var(--bg-dark3);
}

.container:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.40);
}

.logo{
	align-items: center;
	text-align: center;
	margin: 35px;
}

.buscar{
	height: 48px;
	width: 500px;
	margin-bottom: 40px;
	border-radius: 15px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
	background-color: var(--bg-dark3);

}

.buscar:hover{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.50);
}

.icono{
	background-image: url("../img/google.svg");
	background-repeat: no-repeat;
	padding-left: 38px;
}
input{
	height: 30px;
	width: 440px;
	margin: 2.5px;
	font-size: 17px;
	border: none;
	color: var(--yellow);
	background-color: var(--bg-dark3);
	outline: none;
}

header{
    padding-bottom: 10px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

a{
	text-decoration: none;
	color: white;
}

.School a:hover,
.School header {
	color: var(--green);
}

.Social a:hover,
.Social header {
	color: var(--magenta);
}

.Development a:hover,
.Development header {
	color: var(--yellow);
}

.Other a:hover,
.Other header {
	color: var(--cyan);
}

@media (max-width: 620px) {
	.container {
		padding: 1.5em;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}
}
